/* -----------------------
Base styles
------------------------*/

/* body
{
	margin: 0;
	padding: 0;
	color: #000000;
	background-color: #ffffff;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
} */

#carouselExampleIndicators {
    width: 800px;
  }

  /* .carousel-inner {
    width: 900px;
  } */

  .container {
      padding: 10;
      align-content: center;
      justify-content: center;
      
  }
  div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .table-responsive {
    position: relative;
    height: 400px;
    overflow: auto;
    display: block;
    }