<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Outcomes by State</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="common.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="logo.png" alt="" height="24"
                    class="d-inline-block align-text-top mx-2"></a><button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
               s aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/page1.html">Mission Statement</a></li>
                    <li class="nav-item"><a class="nav-link" href="/level2LGA.html">By LGA</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/page3.html">By State</a></li>
                    <li class="nav-item"><a class="nav-link" href="/page4.html">Page 4</a></li>
                    <li class="nav-item"><a class="nav-link" href="/level3Filter.html">Filter</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="display-4">Comparing Indigenous and Non-Indigenous</h1>
    </div>
    <!-- adds radio and checkboxes for display data -->
    <div class="container">
        <form action='/level3Filter.html' method='post'>
            <h5 class="text-muted">Display Data:</h5>
            <div class='form-check'>
                <input type="radio" id="customRadio2" name="customRadio" class="form-check-input" value="proportional" >
                <label class="form-check-label" for="customRadio2"> Proportional</label>
            </div>
            <div class='form-check'>
                <input type="radio" id="customRadio1" name="customRadio" class="form-check-input" value="raw" checked>
                <label class="form-check-label" for="customRadio1"> Count</label>
            </div><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkboxOutcome1" value="outcome1" checked>
                <label class="form-check-label" for="inlineCheckbox2">Outcome 1</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkboxOutcome5" value="outcome5" checked>
                <label class="form-check-label" for="inlineCheckbox2">Outcome 5</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkboxOutcome6" value="outcome6" checked>
                <label class="form-check-label" for="inlineCheckbox3">Outcome 6</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkboxOutcome8" value="outcome8" checked>
                <label class="form-check-label" for="inlineCheckbox4">Outcome 8</label>
            </div><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
    </div><br>
    <!-- add filter display -->
    <form class="form-inline" action='/level3Filter.html' method='post'>
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Add Filter</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>Choose...</option>
          <option value="1">Age</option>
          <option value="2">Gender</option>
          <option value="3">Other?</option>
        </select>
      
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>=</option>
            <option value="=">=</option>
            <option value="greaterThan">&gt;</option>
            <option value="lessThan">&lt;</option>
          </select>

        <label class="sr-only" for="inlineFormInputName2">input</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="50">
      
        <!-- <button type="submit" class="btn btn-primary my-1">Submit</button> -->
      </form>
    <!-- adds table of data -->
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col" >LGA</th>
                        <th style="display:none" scope="col" colspan="3">Overal</th>
                        <th th:if="${checkboxOutcome1} != null" scope="col" colspan="3"> Outcome 1</th>
                        <th th:if="${checkboxOutcome5} != null" scope="col" colspan="3"> Outcome 5</th>
                        <th th:if="${checkboxOutcome6} != null" scope="col" colspan="3"> Outcome 6</th>
                        <th th:if="${checkboxOutcome8} != null" scope="col" colspan="3"> Outcome 8</th>
                    </tr>
                    <tr>
                        <td >&nbsp;</td>
                        <!-- <td >Indig</td>
                        <td >Non</td>
                        <td >Gap</td> -->
                        <td th:if="${checkboxOutcome1} != null" >Indig</td>
                        <td th:if="${checkboxOutcome1} != null" >Non</td>
                        <td th:if="${checkboxOutcome1} != null" >Gap</td>
                        <td th:if="${checkboxOutcome5} != null" >Indig</td>
                        <td th:if="${checkboxOutcome5} != null" >Non</td>
                        <td th:if="${checkboxOutcome5} != null" >Gap</td>
                        <td th:if="${checkboxOutcome6} != null" >Indig</td>
                        <td th:if="${checkboxOutcome6} != null" >Non</td>
                        <td th:if="${checkboxOutcome6} != null" >Gap</td>
                        <td th:if="${checkboxOutcome8} != null" >Indig</td>
                        <td th:if="${checkboxOutcome8} != null" >Non</td>
                        <td th:if="${checkboxOutcome8} != null" >Gap</td>
                    </tr>
                </thead>
                <tbody  th:if="${dataType} != fracSelected">
                    <tr th:each="lga,iter : ${tableDataIndig}">
                        <td th:text="${lga.areaName}"></td>
                        <td th:if="${checkboxOutcome1} != null" th:with="out1Ingig=${lga.outcome1Raw}" th:text="${out1Ingig}"></td> 
                        <td th:if="${checkboxOutcome1} != null" th:with="out1Non=${tableDataNon[iter.index].outcome1Raw}" th:text="${out1Non}"></td>
                        <td th:if="${checkboxOutcome1} != null" th:text="${out1Ingig}"></td>
                        <td th:if="${checkboxOutcome5} != null" th:text="${lga.outcome5Raw}"></td>
                        <td th:if="${checkboxOutcome5} != null" th:text="${tableDataNon[iter.index].outcome5Raw}"></td>
                        <td th:if="${checkboxOutcome5} != null" th:text="${x}"></td>
                        <td th:if="${checkboxOutcome6} != null" th:text="${lga.outcome6Raw}"></td>
                        <td th:if="${checkboxOutcome6} != null" th:text="${tableDataNon[iter.index].outcome6Raw}"></td>
                        <td th:if="${checkboxOutcome6} != null" th:text="${x}"></td>
                        <td th:if="${checkboxOutcome8} != null" th:text="${lga.outcome8Raw}"></td>
                        <td th:if="${checkboxOutcome8} != null" th:text="${tableDataNon[iter.index].outcome8Raw}"></td>
                        <td th:if="${checkboxOutcome8} != null" th:text="${x}"></td>
                    </tr>
                </tbody>
                <tbody  th:if="${dataType} == fracSelected">
                    <tr th:each="lga : ${tableDataIndig}">
                        <td th:text="${lga.areaName}"></td>
                        <td th:if="${checkboxOutcome1} != null" th:text="${lga.outcome1Frac} + '%'"></td>
                        <td th:if="${checkboxOutcome5} != null" th:text="${lga.outcome5Frac} + '%'"></td>
                        <td th:if="${checkboxOutcome6} != null" th:text="${lga.outcome6Frac} + '%'"></td>
                        <td th:if="${checkboxOutcome8} != null" th:text="${lga.outcome8Frac} + '%'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>